:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}

button, select {
  color: inherit;
  font-family: inherit;
}

/* Split.js 分界线样式 */
.gutter {
  background-color: transparent;
}

.gutter.gutter-horizontal {
  cursor: ew-resize !important;
  width: 8px !important;
  background-color: transparent !important;
  margin: 0;
  position: relative;
}

.gutter.gutter-horizontal::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #e5e7eb;
  transform: translateX(-50%);
} 